<section class="hero-section default -bg-lightest-grey">
  <div class="hero-text-container">
    <div class="wrapper">
      <div class="content-wrapper">
        <h1>
          Supply Chain 4.0 – the next-generation digital supply chain
        </h1>
      </div>
    </div>
  </div>
  </section>
  
  <section class="post">
    <div class="twocol" >
      <div class="firstcol">
        <img src="../../../assets/images/supplychain/post.jpg">
      </div>
    
      <div class="secondcol">
        <h2>Key Advantages</h2>
       <ul>
         <li>The future of supply chain growth will deliver innovative and hyper-personalized products, services and experiences.</li>
         <li>Improved quality control, Higher efficiency rate, Shipping optimization are some of the key advantages </li>
         <li>Businesses are able reduce waste by implementing supply chain managemment. The benefits of this systematic approach impacts areas ranging from product quality to order turn-around times.</li>
         <li>Managing risk is a key responsibility for business leaders today, and supply chain management systems allow for the identification of critical risk factors. </li>
       </ul>
        <button type="submit" name="submit">Learn More</button>
      </div>
  
    </div>
  
    <div style="clear:both"><span></span></div>
  </section>
  <section class="hero-section default -bg-lightest-grey">
    <div class="hero-text-container">
      <div class="wrapper">
        <div class="content-wrapper">
          <h1>
            Supply Chain 4.0 Features
          </h1>
        </div>
      </div>
    </div>
    </section>
  <section>
    <div class="cardrow">
      <div class="cardcolumn">
        <div class="nobscard">
          <div class="cardImage">
            <img src="../../../assets/images/supplychain/sc1.jpg">
          </div>
          <div class = "cardBody">
            <div class="cardTitle">
              Customer-centric supply chain transformation
            </div>
              <div class="cardText">
                Develop a segmentation strategy and platform-oriented operating model complemented with a "living" tech architecture and ecosystem partnerships.
              </div>
          </div>
        </div>
      </div>
      <div class="cardcolumn">
        <div class="nobscard">
          <div class="cardImage">
            <img src="../../../assets/images/supplychain/sc2.jpg">
          </div>
          <div class = "cardBody">
            <div class="cardTitle">
              Operational agility transformation
            </div>
              <div class="cardText">
                Use prime value chain analytics to increase transparency, bridge silos, turn complexity to your advantage and reshape operations around customer value.
              </div>
          </div>
        </div>
      </div>
      <div class="cardcolumn">
        <div class="nobscard">
          <div class="cardImage">
            <img src="../../../assets/images/supplychain/sc3.jpg">
          </div>
          <div class = "cardBody">
            <div class="cardTitle">
              Resilient supply chain
            </div>
              <div class="cardText">
                Adapt to the post-COVID reality by stress testing supply chain resilience, improving responsiveness, and outmaneuvering uncertainty more effectively.
              </div>
          
          </div>
        </div>
      </div>
      <div class="cardcolumn">
        <div class="nobscard">
          <div class="cardImage">
            <img src="../../../assets/images/supplychain/sc4.jpg">
          </div>
          <div class = "cardBody">
            <div class="cardTitle">
              Sustainable and responsible supply chain
            </div>
              <div class="cardText">
                Increase trust with customers and suppliers through transparency and responsibility, target net zero emissions, and embrace the circular supply chain.
              </div>        
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  