.content{
  background-color: rgb(230, 230, 230);
}

.wrapper {
  width: 1190px;
  margin: 0 auto;
  position: relative;
}

div, span, h1, h2, h3, h4, h5, h6, p, ul, li{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  background: transparent;
}

.main-title {
  margin-bottom: 25px;
  padding: 4px 18px 10px;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #444!important;
}

.main-title h2 {
  font-size: 2em;
  font-weight: 800;
  color: #444!important;
  letter-spacing: -2px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 120%;
  font-family: montserrat,sans-serif;
}


h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.article-content {
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 150%;
}

.article-content p {
  margin-bottom: 15px;
  font-size: 1.15em;
  color: #5a5a5a;
  width: 75%;

}

.article-header{
  margin: 20px 20px;
}

body {
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.article-content:after {
  display: block;
  clear: both;
  content: '';
}


@media only screen and (max-width: 1210px)
{
.wrapper {
    width: 97%;
}
@media only screen and (max-width: 970px)
{
body {
    font-size: 12px;
}
}
}