<section class="content">
  <div class="wrapper">
    <div class="content">
      <div class="main-title">
      <h2> ARTIFICIAL INTELLIGENCE LATEST DEVELOPMENTS</h2>
      </div>

      <div class="article-content">
        <div class="article-header">
          <h2>What's new in Artificial Intelligence?</h2>
          <img src="assets/images/ai/1.jpg" style="width:900px;height: 500px;">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et <a href="" target="_blank">dolore</a>  magna aliqua. Donec ac odio tempor orci dapibus ultrices in iaculis nunc.</p>
          <p>Enim diam vulputate ut pharetra sit amet aliquam id diam. Quis lectus nulla at volutpat diam ut. Congue nisi vitae suscipit tellus mauris a. </p>
          <p>Pharetra massa massa ultricies mi. Vel facilisis volutpat est velit egestas dui id ornare. </p>
        </div>
        <div class="article-header">
          <h2>What have we learnt from AI</h2>
          <img src="assets/images/ai/2.jpg" style="width:900px;height: 500px;">
          <p>Elit at imperdiet dui accumsan sit amet nulla facilisi morbi. Leo integer malesuada nunc vel risus commodo viverra.</p>
          <p>Aliquet nibh praesent tristique magna. <a href="#" target="_blank" rel="noopener noreferrer">Eget nunc</a> scelerisque viverra mauris in.Ultrices gravida dictum fusce ut placerat orci nulla pellentesque. </p>
          <p>Pharetra massa massa ultricies mi.Ac felis donec et odio pellentesque diam volutpat commodo.</p>
        </div>
        <div class="article-header">
          <h2>The Power of Artificial Intelligence</h2>
          <img src="assets/images/ai/3.jpg" style="width:900px;height: 500px;">
          <p>Lacus sed turpis tincidunt id aliquet. Purus in mollis nunc sed.</p>
          <p>Elit at imperdiet dui accumsan sit amet nulla facilisi morbi. Leo integer malesuada nunc vel <a href="" target="_blank" class="">risus</a> commodo viverra. Neque volutpat ac tincidunt vitae semper quis lectus nulla. </p>
          <p>Faucibus turpis in eu mi. Sed sed risus pretium quam. In fermentum et sollicitudin ac orci phasellus egestas tellus rutrum.</p>
        </div>

      </div>

    </div>
  </div>

</section>