<div class="container">
  <div class="row">
<div class="col-md-3"
      *ngFor="let person of people">
    <div class="card" style="width: 15rem;">
      <div class="card-header" style="background-color: rgb(88, 88, 255);">
        <h5 class="card-title" style="color:black;">{{person.heading}}</h5>
      </div>
      <div class="card-body" style="padding: 0;">
        <img src="{{person.img}}" class="card-img-top" alt="...">
        <p class="card-text" style="color:black;padding: 10px;">{{person.description}}</p>
        <p style="text-align: center;"><a href="#">{{person.button}}</a></p>
      </div>
    </div>
    </div>
  </div>
</div>


