<h1>Users</h1>

  <p>Users from API</p>
    <div class="accordion" id="accordionExample" *ngFor= "let user of users">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{user.firstName}}
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>{{user.lastName}}</p>
            <p>{{user.email}}</p>
          </div>
        </div>
      </div>
    </div>

<h3>Admin Chart here</h3>
<div echarts [options]="chartOption" class="demo-chart"></div>
