.table thead td tr{
  text-align: center;
  align-content: center;

}
h1{
  text-align: center;
  margin-top: 50px;
  color: rgb(238, 0, 167);
}
thead{
  font-size: x-large;
  color: coral;

}

tbody > tr> td{
  color: rgb(16, 0, 104);
}

img{
  height: 50px;
  width: 50px;
}